<!DOCTYPE html>
<html xmlns:th="http://www.thymleaf.org">

<head th:fragment="header">

	<meta charset="ISO-8859-1">
	<title>Srping Boot Thymleaf Blog App</title>
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
</head>
<body>
<nav class="navbar navbar-expand-lg bg-dark navbar-dark" th:fragment="navbar">
	<!-- Brand -->
	<div class="container-fluid">
		<a class="navbar-brand" href="#">Srping Boot Thymleaf Blog App</a>

		<!-- Toggler/collapsibe Button -->
		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent">
			<span class="navbar-toggler-icon"></span>
		</button>

		<!-- Navbar links -->
		<div class="collapse navbar-collapse" id="navbarSupportedContent">
			<ul class="navbar-nav me-auto mb-2 mb-lg-0">
				<li class="nav-item">
					<a class="nav-link active" th:href="@{/admin/posts}">Posts</a>
				</li>

				<li class="nav-item">
					<a class="nav-link active" th:href="@{/admin/posts/newpost}">New Post</a>
				</li>

				<li class="nav-item">
					<a class="nav-link active" th:href="@{/admin/posts/comments}">Comments</a>
				</li>

				<li class="nav-item">
					<a class="nav-link active" th:href="@{/logout}">Logout</a>
				</li>
			</ul>
		</div>
	</div>
</nav>
</body>
</html>